$header_height: calc(100% - 60px);
$header_height_center: calc(50% - 120px);


section {
	position: relative;
	display: block;
    z-index: 20 !important;
	min-height: 100%;
	width: 100%;
    padding: 50px 0 30px 0;
    border-bottom-style: solid; 
	border-bottom-color: $colorGrayLighter; 
	border-bottom-width: 1px; 
}  



#welcome {
    position: relative;
    width: 100%;
    height: $header_height;
    overflow: hidden;
    display: block;
    top: 60px;
    z-index: 0 !important;
    border-bottom-style: solid; 
	border-bottom-color: $colorBlue500; 
	border-bottom-width: 5px; 
}


#welcome .w-parallax {
    z-index: 0 !important;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    min-height: 110%;
    margin-left: auto;
    margin-right: auto;
}

#welcome .w-content {
    z-index: 1 !important;
    position: relative;
    text-align: center;
    color: white;
    top: $header_height_center;
    padding-bottom: 28px;
    margin: 48px;
}


#welcome .w-content h1 {
    font-size: 3em;
}
#welcome .w-content h2 {
	margin-top: -24px;
    font-size: 2em;
}
#welcome .w-content a {
	background-color: $colorGrayDark;
	color: white;
	border-color: $colorGrayLighter;
}
#welcome .w-content a:hover {
	background-color: $colorBlue500;
}
#welcome .w-content .w-logo {
	margin-top: -160px;
	margin-left: auto;
	margin-right: auto;
}



#welcome .s-parallax {
    z-index: 0 !important;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    min-height: 110%;
    margin-left: auto;
    margin-right: auto;
}


/** Larger Screens - desktops and tablets **/
@media all and (min-width: 990px) {
	#welcome {
		top: 0px;
	}

	#welcome .w-content .w-logo {
		margin-top: -180px;
	}
}


