<!doctype html>
<html lang="" ng-app="Optinomic">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Web Starter Kit</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="images/touch/chrome-touch-icon-192x192.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Web Starter Kit">
    <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">

    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--
    <link rel="canonical" href="http://www.example.com/">
    -->

    <!-- Page styles -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.1.1/animate.min.css">




</head>

<body ng-controller="MainCtrl">

    <header class="app-bar promote-layer">
        <div class="app-bar-container">
            <button class="menu">
                <img src="images/hamburger.svg" alt="Menu">
            </button>
            <div class="logo">
                <a href="#welcome">
                    <optinomic-logo size="48" background="transparent" fill="#EE3B16" animation="55" stroke="white" stroke-width=2 logo-src="/bower_components/optinomic-logo-master/src/optinomic.svg"></optinomic-logo>
                </a>
            </div>
            <section class="app-bar-actions">
                <!-- Put App Bar Buttons Here -->
                <!-- e.g <button><i class="icon icon-star"></i></button> -->
            </section>
        </div>
    </header>

    <nav class="navdrawer-container promote-layer">
        <h4>Navigation</h4>

        <ul>
            <li class="logo-optinomic">
                <a href="#welcome" du-smooth-scroll offset="60">
                    <optinomic-logo size="48" background="transparent" fill="#e84e40" animation="55" stroke="white" stroke-width=2 logo-src="/bower_components/optinomic-logo-master/src/optinomic.svg"></optinomic-logo>
                </a>
            </li>
            <li ng-repeat="slide in slides_menu">
                <a href="#{{slide.url_label}}" du-smooth-scroll du-scrollspy offset="60">{{slide.url_label}}</a>
            </li>
        </ul>
    </nav>



    <div id="welcome">
        <img class="w-parallax" src="/images/ein_therapy.jpg" du-parallax x="accelleratedScroll" y="background" alt="Optinomic - Welcome" />

        <div class="w-content wow rotateInUpLeft">
            <h1>{{current_headline.title}}</h1>
            <h2>{{current_headline.subtitle}}</h2>
            <optinomic-logo class="w-logo" size="180" background="transparent" fill="rgba(255, 255, 255, 0.15)" animation="155" stroke="transparent" stroke-width="12">
            </optinomic-logo>
            <a class="button--primary" ng-click="toStart()" du-smooth-scroll du-scrollspy offset="60">Lernen Sie jetzt</a>
        </div>
    </div>


    <main id="start">
        <section id="{{slide.url_label}}" ng-repeat="slide in slides" class="wow zoomIn">

            <h2 class="subsection-title">
                <strong class="subsection-number">#0{{$index + 1}}
                    <small>| {{slide.url_label}}</small>
                </strong>
                {{slide.title}}
            </h2>

            <h3>{{slide.subtitle}}</h3>

            <p>{{slide.url_label}} = Include {{slide.partial}} :: {{$index + 1}} Bacon ipsum dolor sit amet sausage tail capicola ground round hamburger ham hock. Short ribs pig andouille meatball, pastrami tri-tip fatback ham hock shank kielbasa swine. Rump pancetta jerky kielbasa doner beef ribs tongue hamburger strip steak drumstick andouille shoulder shank flank. Swine drumstick meatball pig beef sausage strip steak.</p>

        </section>
    </main>



    <!-- Basic Scripts -->
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/optinomic-logo-master/lib/d3.v2.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/optinomic-logo-master/src/optinomic-logo.js"></script>


    <!-- Other Scripts -->
    <script src="/bower_components/angular-scroll/angular-scroll.js"></script>
    <script src="/bower_components/ng-parallax/angular-parallax.js"></script>


    <!-- Optinomic - Angular Scripts -->
    <script src="/angular_scripts/main.js"></script>
    <script src="/angular_scripts/factory.js"></script>
    <script src="/angular_scripts/ctrl_main.js"></script>


    <!-- build:js scripts/main.min.js -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/wow/0.1.12/wow.min.js"></script>
    <script src="scripts/main.js"></script>
    <!-- endbuild -->
    <script>
    var wow = new WOW({
        boxClass: 'wow', // animated element css class (default is wow)
        animateClass: 'animated', // animation css class (default is animated)
        offset: 300, // distance to the element when triggering the animation (default is 0)
        mobile: true, // trigger animations on mobile devices (default is true)
        live: true // act on asynchronously loaded content (default is true)
    });
    wow.init();
    </script>




</body>

</html>