<div class="slide-content">
    <p>
        Optinomic ist ein flexibles und universell einsetzbares Instrument zum optimalen Management von Therapie- und Veränderungsprozessen. Es beruht auf Erfassung, Analyse und Visualisierung von Daten, die während laufender Prozesse erhoben werden.
    </p>

    <p>Eine Win-Win Situation für alle Beteiligten!</p>

    <div class="g--half">
        <div class="slide-links">
            <ul class="list-links list-links--primary">
                <li class="list__item">
                    <a ng-click="add_slide(1, $index)" href="#11" du-smooth-scroll du-scrollspy duration="1500" offset="60">
    				Direktion und Geschäftsleitung
    			</a>
                </li>
                <li class="list__item">
                    <a ng-click="add_slide(2, $index)" href="#12" du-smooth-scroll du-scrollspy duration="1500" offset="60">
    				Qualitätsmanagement (QM)
    			</a>
                </li>
                <li class="list__item">
                    <a ng-click="add_slide(3, $index)" href="#13" du-smooth-scroll du-scrollspy duration="1500" offset="60">
    				Forschung und Diagnostik (F&D)
    			</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="g--half g--last">
        <div class="slide-links">
            <ul class="list-links list-links--primary">
                <li class="list__item">
                    <a ng-click="add_slide(4, $index)" href="#14" du-smooth-scroll du-scrollspy duration="1500" offset="60">
    				(Psycho-)Therapeuten
    			</a>
                </li>
                <li class="list__item">
                    <a ng-click="add_slide(5, $index)" href="#15" du-smooth-scroll du-scrollspy duration="1500" offset="60">
    				Ärzte (Somatik & Psychiatrie)
    			</a>
                </li>
                <li class="list__item">
                    <a ng-click="add_slide(6, $index)" href="#16" du-smooth-scroll du-scrollspy duration="1500" offset="60">
    				Klienten / Patienten
    			</a>
                </li>
            </ul>
        </div>
    </div>





</div>