<div class="slide-content">
    <p>
        Wissen ist nötig, wann stelle ich welche Fragen - und was fange ich mit den Antworten an? Was ist therapeutische Neugier und wo beginnt mein Voyeurismus. Wie können Erkenntnisse aus Interventionen / Weiterbildungen geprüft, gelebt und gepflegt werden? Therapieprozesse visualisieren und mit Patient besprechen können = Therapeutikum. Medizinische Eintritts- Verlaufs- und Austrittsdiagnostik ist die Lösung.
    </p>

    <p>Eine Win-Win Situation für alle Beteiligten!</p>

	<div class="" ng-include="'/partials/slide/about_additional.html'"></div>


</div>