<div class="slide-content">
    <p>
        Patient mit Panikattacken erlebt keine Fortschritte und beklagt sich heftig. Therapeut ist ratlas: Wie können Erfolge dem Patienten aufgezeigt werden? Zudem Ärger des Patienten, nicht ‘das Gleiche’ immer und immer erzählen zu müssen. Er möchte am Therapieprozess aktiv beteiligt werden. Er habe den Wunsch nach ‘Heilung’ und bestehe darauf, den Fokus darauf zu richten vs. als doof erlebte Programme absitzen zu müssen. Er möchte Therapieangebote und Interventionen auf Wirksamkeit in Bezug auf seine Zielsetzung überprüfen können. Ein Instrument an die Hand bekommen - nicht Zeit mit dem Handy ‘totschlagen’ sondern aktiv an seinem Leben und Glück zu schmieden.
    </p>


	<div class="" ng-include="'/partials/slide/about_additional.html'"></div>


</div>